body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: blueviolet;
}

a {
  color: #00B7FF;
}

#doggie img {
  width: 400px;
  border-radius: 5px;
  float: right;
}

#title {
  margin-bottom: 45rem;
  color: palevioletred;
  align-items: center;
}


#dawg {
  color:darkolivegreen;
  position:absolute;
  top:0; right:0;
  margin: 1rem;
}

#summonDog {
  size: 2em 4em;
}

#car {
  width:100px; height: 100px;
  gap:1rem;
}