body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: blueviolet;
}

a {
  color: #00B7FF;
}

#doggie img {
  width: 300px;
  border-radius: 5px;
  float: right;
}

#title {
  margin-bottom: 45rem;
  color: palevioletred;
}


#dawg {
  color:darkolivegreen;
}

#summonDog {
  size: 2em 4em;
}